html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    background-color: #424242;
    width: 2678px;
    height: 640px;
    padding: 70px 92px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
}

/* categories */
.categories {
    padding: 30px;
    padding-top: 21px;
    max-width: 178px;
    background-color: #fff;
    border-radius: 10px;
}

.categories__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.categories__label {
    position: relative;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    padding-top: 20px;
    padding-left: 24px;
}

.categories__checkbox {
    display: none;
}

.categories__checkbox + span {
    position: absolute;
    top: 23px;
    left: 0;
    width: 14px;
    height: 14px;
    text-align: center;    
}

.categories__checkbox + span::before {
    content: url(/svg/check.svg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}

.categories__checkbox:checked + span::before {
    content: url(/svg/check-active.svg);
}

/* material */
.material {
    margin-left: 58px;
}

.choices {
    width: 176px;
    height: 39px;
    border-radius: 10px;
}

.choices__item  {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    opacity: 1;
}

.choices__list {
    padding-top: 1px;
    padding-left: 13px;
}

.choices[data-type*=select-one]::after {
    display: none;
}

.choices__list ::after {
    content: url(../svg/Rectangle.svg);
    position: absolute;
    right: 14.5px;
}

.choices[data-type*=select-one] .choices__inner {
    width: 176px;
    height: 39px;
    border-radius: 10px;   
}

.choices__inner {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

}

.choices__list .is-active {
    height: 500px;
}

.choices__placeholder  {
    padding-right: 0 !important;
}